header{
    width: 100%;
    padding: 28px 8%;
   
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: 800;
    text-align: center;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-itens a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.nav-itens.active a {
    color: rgb(255, 149, 149);
    border-bottom: 3px solid #ffffff;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgb(73, 68, 68);
    cursor: pointer;
    transition: background-color 3.s ease;
}

.btn-default:hover {
    background-color: rgb(255, 255, 255);
}

.social-media-buttons{
    display: flex;
    gap: 18px;
}
.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 8px 4px rgb(24, 23, 23);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover{
    box-shadow: 0px 0px 10px 8px rgb(110, 110, 110);
}



#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

@media screen and (max-width: 1170px){
    #nav_list, #navbar .btn-default{
        display: none;
    }

    #mobile_btn{
        color: rgb(255, 255, 255);
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_btn.active {
        color: rgb(255, 255, 255);
      
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #mobile_nav_list .nav-itens{
        list-style: none;
        text-align: center;
    }

    
}
